<% content_for :head do %>
<title>持っているものランキング - monolist</title>
<description>持っているものランキングのページ。持っているものの多い順のアイテム上位10個を表示しています。</description>
<% end %>
<div class="ranking">
  <h1>持っているものランキング</h1>
</div>
<%= render 'items' , items: @items %>
